{% comment %} PRODUCT PAGE SLIDER APP CODE START {% endcomment %}
{% render 'pmslider_inline.liquid' %}
{% comment %} PRODUCT PAGE SLIDER APP CODE END {% endcomment %}

{% assign ql_show_remomend_color = section.settings.ql_show_remomend_color | split: '_' %}
<script>
  var ql_show_remomend_color = {{ql_show_remomend_color | json}};
</script>
<style type="text/css">
  
  #page-menu .main-nav li a {
      display: block;
  }
  #page-menu .main-nav .has-children .has-children li a {
      font-weight: 400;
      opacity: 1;
      text-indent: 2em;
  }
  #page-menu a .arr.rotate-180 {
      transform: rotate(180deg);
      transition: all .3s;
  }
  #page-menu.nav-uses-modal .main-nav li.has-children > ul.show-child-menu {
    display: block;
    font-weight: 400;
  }


  /*===== icon样式 =====*/
  #shopify-section-header .site-control .site-control__inner svg,
  #shopify-section-header span.country--flag>img{
      width: 20px!important;
      height: 20px!important;
  }

  /* ql-other-shop#ql_councty_btn .navlink {
      width: 44px;
  } */

  #shopify-section-header .site-control .cart div{
      top: 13px;
  }

  #shopify-section-header .site-control.nav-inline-desktop .cart{
      height: 22px;
      padding-right: 0px;
  }
  

 .mb-search {
        display: block;
    }
    .mb-search .inline-mini-form--arrow button svg {
    width: 18px;
    height: 18px;
    color: #999;
}

.mb-search .inline-mini-form--arrow::after {
    height: 1px;
    background: #999;
}
.site-control.nav-inline-desktop .site-control__inner{
  padding-top: {{section.settings.nav_padding_top}}px;
  padding-bottom: {{section.settings.nav_padding_bottom}}px;
}
#site-control .cc-announcement .cc-announcement__inner{
  padding-top: {{section.settings.announcement_padding_top}}px;
  padding-bottom: {{section.settings.announcement_padding_bottom}}px;
}

.cc-announcement {
  {% if section.settings.announcement_text_size > 16 %}
    font-size: 16px;
  {% else %}
    font-size: {{ section.settings.announcement_text_size }}px;
  {% endif %}
}

  /*===== 导航栏和main =====*/
  .links.site-control__inner, body > main#page-content,
  .section-shop-container__slider {
      box-sizing: border-box;
      width: 100%;
      padding-left: {{settings.margin_left_and_right_768}}px;
      padding-right: {{settings.margin_left_and_right_768}}px;
  }
  @media (min-width: 769px){
  .links.site-control__inner, body > main#page-content,
  .section-shop-container__slider, .section-footer__row-container {
      padding-left: {{settings.margin_left_and_right_992}}px;
      padding-right: {{settings.margin_left_and_right_992}}px;
  }

  .site-control.nav-inline-desktop .site-control__inner .tier-1>ul {
      font-weight: {{section.settings.pc_nav_font_weight}};
  }

  .cc-announcement {
      font-size: {{ section.settings.announcement_text_size }}px;
    }

  .mb-search {
      display: none;
  }
}

@media (min-width: 993px){
  .links.site-control__inner, body > main#page-content,
  .section-shop-container__slider, .section-footer__row-container {
      padding-left: {{settings.margin_left_and_right_1200}}px;
      padding-right: {{settings.margin_left_and_right_1200}}px;
  }

  .site-control.nav-inline-desktop .site-control__inner .nav-row .nav-columns > li {
  padding: 0 10px;
}
}
@media (min-width: 1201px){
  .links.site-control__inner, body > main#page-content,
  .section-shop-container__slider, .section-footer__row-container {
      padding-left: {{settings.margin_left_and_right_1400}}px;
      padding-right: {{settings.margin_left_and_right_1400}}px;
  }

  .site-control.nav-inline-desktop .site-control__inner .nav-row .nav-columns > li {
    padding: 0 {{section.settings.nav_padding_left_and_right}}px;
  }
}
@media (min-width: 1401px){
  .links.site-control__inner, body > main#page-content,
  .section-shop-container__slider, .section-footer__row-container {
      padding-left: {{settings.margin_left_and_right_1920}}px;
      padding-right: {{settings.margin_left_and_right_1920}}px;
  }
}
@media (min-width: 1921px){
  .links.site-control__inner, body > main#page-content,
  .section-shop-container__slider, .section-footer__row-container {
      padding-left: {{settings.margin_left_and_right_1921}}px;
      padding-right: {{settings.margin_left_and_right_1921}}px;
  }
}


  @media (max-width: 768px){
    #page-menu .main-nav li a:hover {
      border-bottom-color: transparent;
    }
    .site-control.nav-inline-desktop .site-control__inner{
      padding-top: 5px;
      padding-bottom: 5px;
    }
    #site-control .cc-announcement .cc-announcement__inner{
      padding-top: {{section.settings.mb_announcement_padding_top}}px;
      padding-bottom: {{section.settings.mb_announcement_padding_bottom}}px;
    }
	.site-control.nav-inline-desktop .site-control__inner{
		padding-top: {{section.settings.mb_nav_padding_top}}px;
		padding-bottom: {{section.settings.mb_nav_padding_bottom}}px;
	} 
	.site-control .menu, .site-control .cart {
		top: calc({{section.settings.mb_nav_padding_top}}px + 11px); ;
	}
	#shopify-section-header .site-control .site-control__inner svg,
	#shopify-section-header span.country--flag>img{
		width: 25px!important;
		height: 25px!important;
	}
    #shopify-section-header .site-control.nav-inline-desktop .cart{
      margin-right: 5px;
    }

  }

  
  {% if section.settings.logo != blank %}
    .logo img { width: {{ section.settings.mobile_logo_width | escape }}px; }
    @media(min-width:768px){
    .logo img { width: {{ section.settings.desktop_logo_width | escape }}px; }
    }
  {% else %}
    {%- assign logo_font_size_mobile = section.settings.mobile_logo_width | divided_by: 6 | round -%}
    {%- assign logo_font_size_desktop = section.settings.desktop_logo_width | divided_by: 6 | round -%}
    .logo { font-size: {{ logo_font_size_mobile }}px; }
    @media(min-width:768px){
      .logo { font-size: {{ logo_font_size_desktop }}px; }
    }
  {% endif %}

  


  {% if ql_show_remomend_color.size > 0 %}
      {% for value in ql_show_remomend_color %}
        {%- assign swatch_value = value | handle -%}
        #ql-remomend-color-box .ql-re-title .qlselect[data-value="{{value}}"]{
          background-image: url({{ swatch_value | append: '.png' | file_img_url: '48x48', crop: 'center' }});
        }
      {% endfor %}
  {% endif %}
  
  /* other shop */
  span.country--flag>img {
    width: 30px;
    height: 30px;
    max-width: none;
  }
</style>

{% comment %} A hidden form to handle when the checkout button is pressed on the add to cart popup {% endcomment %}
<form action="{{ routes.cart_url }}" method="post" id="cc-checkout-form">
</form>

{% if template == 'gift_card' %}

  {% comment %} Gift card template logo {% endcomment %}
  <div itemscope itemtype="http://schema.org/Organization">
    <meta itemprop="name" content="{{ shop.name }}">
    <a data-cc-animate-click class="logo" href="{{ shop.url }}" itemprop="url">
      {% if section.settings.logo != blank %}
        {% assign double_logo_width = section.settings.logo_width | default: 250 | times: 2 %}
        {% capture img_size %}{% if double_logo_width > 2048 %}2048{% else %}{{ double_logo_width }}{% endif %}x{% endcapture %}
        <img src="{{ section.settings.logo | img_url: img_size }}" alt="{{ shop.name | escape }}" itemprop="logo" />
      {% else %}
        {{ shop.name | escape }}
      {% endif %}
    </a>
  </div>

{% else %}
  {% assign featured_links = section.settings.nav_featured_link | split: ', ' %}

  {% capture logo_html %}
  <a data-cc-animate-click data-cc-animate class="logo {% if section.settings.alt_logo != blank %}logo--has-alt-logo{% endif %}" href="{{ routes.root_url }}"
     itemprop="url">

    {% if template == 'index' and section.settings.logo_h1 %}
      <h1 class="logo logo-h1">
    {% endif %}

    <meta itemprop="name" content="{{ shop.name }}">
    {% if section.settings.logo != blank %}
      {% assign double_logo_width = section.settings.logo_width | default: 250 | times: 2 %}
      {% capture img_size %}{% if double_logo_width > 2048 %}2048{% else %}{{ double_logo_width }}{% endif %}x{% endcapture %}
      <img src="{{ section.settings.logo | img_url: img_size }}" alt="{{ shop.name | escape }}" itemprop="logo"
           width="{{ section.settings.logo.width }}" height="{{ section.settings.logo.height }}"/>

      {% if section.settings.alt_logo != blank %}
      <span class="alt-logo">
        <img src="{{ section.settings.alt_logo | img_url: img_size }}" alt="{{ shop.name | escape }}" itemprop="logo"
             width="{{ section.settings.alt_logo.width }}" height="{{ section.settings.alt_logo.height }}"/>
      </span>
      {% endif %}
    {% else %}
      {{ shop.name | escape }}
    {% endif %}

    {% if template == 'index' and section.settings.logo_h1 %}
      </h1>
    {% endif %}
  </a>
  {% endcapture %}

  {%- capture announcement -%}
  {% if section.settings.show_announcement %}
  {% if template == 'index' or section.settings.announcement_home_only == false %}
  <div class="cc-announcement">
    {% if section.settings.announcement_link != blank %}<a data-cc-animate-click href="{{ section.settings.announcement_link }}">{% endif %}
    <div class="cc-announcement__inner">
      {{ section.settings.announcement_text }}
    </div>
    {% if section.settings.announcement_link != blank %}</a>{% endif %}
  </div>
  {% endif %}
  {% endif %}
  {%- endcapture -%}

  {%- capture inline_link_html-%}
    {% if section.settings.desktop_navigation == "inline" %}
      <div class="site-control__inline-links">
        <div class="nav-row multi-level-nav reveal-on-hover" role="navigation" aria-label="{{ 'general.navigation.main_navigation_aria_label' | t | escape }}">
          <div class="tier-1">
            <ul>
              {% for link in linklists[section.settings.menu_linklist].links %}

                {%- assign has_mega_drop_down = true -%}
                {%- if link.links != blank -%}
                  {%- for child_link in link.links -%}
                    {%- if child_link.links == blank -%}
                      {%- assign has_mega_drop_down = false -%}
                    {%- endif -%}
                  {%- endfor -%}
                {%- else -%}
                  {%- assign has_mega_drop_down = false -%}
                {%- endif -%}

                <li data-test="{{has_mega_drop_down}}" class="{% if link.active %}active{% endif %}{% if link.links != blank %} contains-children{% endif %}{% if has_mega_drop_down %} contains-mega-menu{% endif %}{% if featured_links contains link.title %} featured-link{% endif %}">
                  <a {% if link.links == blank %}data-cc-animate-click{% endif %} href="{{ link.url }}" class="{% if link.active %}active{% endif %} {% if link.links != blank %}has-children{% endif %}" {% if link.links != blank %}aria-haspopup="true"{% endif %}>
                    {{ link.title }}
                  </a>

                  {% if link.links != blank %}

                    {% assign num_ctas = 0 %}
                    {% for block in section.blocks %}
                      {% case block.type %}
                        {% when 'image' %}
                        {% assign menu_item =  block.settings.menu_item | downcase %}
                        {% assign link_title =  link.title | downcase %}
                        {% if menu_item == link_title %}
                          {% if block.settings.image1 != blank %}
                            {% assign num_ctas = num_ctas | plus: 1 %}
                          {% endif %}
                          {% if block.settings.image2 != blank %}
                            {% assign num_ctas = num_ctas | plus: 1 %}
                          {% endif %}
                          {% break %}
                        {% endif %}
                      {% endcase %}
                    {% endfor %}

                    <ul {% if has_mega_drop_down %}
                      class="nav-columns
                        nav-columns--count-{{ link.links.size }}
                        {% if link.links.size > 2 %} nav-columns--count-3-or-more {% endif %}
                        {% if link.links.size > 5 %} nav-columns--count-6-or-more {% endif %}
                        nav-columns--cta-count-{{ num_ctas }}"
                      {% else %}
                        class="nav-rows"
                      {% endif %}>

                      {% for block in section.blocks %}
                        {% case block.type %}
                          {% when 'shop_by_inspiration' %}
                            {% assign menu_item =  block.settings.menu_item | downcase %}
                            {% assign link_title =  link.title | downcase %}
                            {% if menu_item == link_title %}
                              <li class="contains-children shop-by-inspiration">
                                <a data-cc-animate-click href="{{ block.settings.url }}" class="has-children column-title" aria-haspopup="true">
                                  {{ block.settings.heading }}
                                    <span class="arr arr--small">{% render 'svg-chevron-right' %}</span>
                                </a>
                                <ul>
                                  {% for i in (1..6) %}
                                    {% assign text = 'text_' | append: i %}
                                    {% assign tUrl = 'url_' | append: i %}
                                    {% if block.settings[text] != '' %}
                                      <li>
                                        <a data-cc-animate-click href="{{ block.settings[tUrl] }}"><span>{{ block.settings[text] }}</span></a>
                                      </li>
                                    {% endif %}
                                    
                                  {% endfor %}
                                </ul>
                              </li>
                            {% endif %}
                             
                        {% endcase %}
                      {% endfor %}

                      {% for child_link in link.links %}
                        <li class="{% if child_link.active %}active{% endif %}{% if child_link.links != blank %} contains-children{% endif %}{% if featured_links contains child_link.title %} featured-link{% endif %}">
                          <a {% if child_link.links == blank %}data-cc-animate-click{% endif %} href="{{ child_link.url }}" class="{% if child_link.links != blank %}has-children column-title{% endif %}" {% if child_link.links != blank %}aria-haspopup="true"{% endif %}>
                            {{ child_link.title }}

                            {% if child_link.links != blank %}
                              <span class="arr arr--small">{% render 'svg-chevron-right' %}</span>
                            {% endif %}
                          </a>

                          {% if child_link.links != blank %}
                            <ul>
                              {% for child_child_link in child_link.links %}
                                <li class="{% if child_child_link.active %}active{% endif %}{% if featured_links contains child_child_link.title %} featured-link{% endif %}">
                                  <a data-cc-animate-click href="{{ child_child_link.url }}">{{ child_child_link.title }}</a>
                                </li>
                              {% endfor %}
                            </ul>
                          {% endif %}
                        </li>
                      {% endfor %}
                      {% for block in section.blocks %}
                        {% case block.type %}
                          {% when 'shop_by_color' %}
                            {% assign menu_item =  block.settings.menu_item | downcase %}
                            {% assign link_title =  link.title | downcase %}
                            {% if menu_item == link_title %}
                              <li class="contains-children">
                                <a data-cc-animate-click href="{{ block.settings.url }}" class="has-children column-title" aria-haspopup="true">
                                  {{ block.settings.heading }}
                                    <span class="arr arr--small">{% render 'svg-chevron-right' %}</span>
                                </a>
                                <ul class="shop-by-color">
                                  {% for i in (1..6) %}
                                    {% assign color = 'color_' | append: i %}
                                    {% assign text = 'text_' | append: i %}
                                    {% assign tUrl = 'url_' | append: i %}
                                    {% if block.settings[text] != '' %}
                                      <li>
                                        <a data-cc-animate-click href="{{ block.settings[tUrl] }}"><span class="s_color" style="background-color: {{ block.settings[color] }};"></span><span>{{ block.settings[text] }}</span></a>
                                      </li>
                                    {% endif %}
                                    
                                  {% endfor %}
                                </ul>
                              </li>
                            {% endif %}

                            {% comment %}  
                          {% when 'shop_by_inspiration' %}
                            {% assign menu_item =  block.settings.menu_item | downcase %}
                            {% assign link_title =  link.title | downcase %}
                            {% if menu_item == link_title %}
                              <li class="contains-children shop-by-inspiration">
                                <a data-cc-animate-click href="{{ block.settings.url }}" class="has-children column-title" aria-haspopup="true">
                                  {{ block.settings.heading }}
                                    <span class="arr arr--small">{% render 'svg-chevron-right' %}</span>
                                </a>
                                <ul>
                                  {% for i in (1..6) %}
                                    {% assign text = 'text_' | append: i %}
                                    {% assign tUrl = 'url_' | append: i %}
                                    {% if block.settings[text] != '' %}
                                      <li>
                                        <a data-cc-animate-click href="{{ block.settings[tUrl] }}"><span>{{ block.settings[text] }}</span></a>
                                      </li>
                                    {% endif %}
                                    
                                  {% endfor %}
                                </ul>
                              </li>
                            {% endif %}
                             {% endcomment %}
                        {% endcase %}
                      {% endfor %}

                      {% for block in section.blocks %}
                        {% case block.type %}
                          {% when 'image' %}
                            {% assign menu_item =  block.settings.menu_item | downcase %}
                            {% assign link_title =  link.title | downcase %}
                            {% if menu_item == link_title %}
                              {% render 'nav-call-to-action', cta: block, render_li: true %}
                            {% endif %}
                        {% endcase %}
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endif %}
  {%- endcapture -%}

  <div data-section-type="header" itemscope itemtype="http://schema.org/Organization">
    <div id="site-control" class="site-control inline icons
      {% if template contains 'product' %}ql_product-template{% endif %}
      {% if section.settings.desktop_navigation == "inline" %}nav-inline-desktop{% endif %}
      {% if section.settings.nav_positioning == "inline" %}scrolls-with-page{% endif %}
      {% if section.settings.nav_positioning == "sticky" or section.settings.nav_positioning == "peek" %}fixed{% endif %}
      {% if section.settings.nav_opacity == "opaque" %}nav-opaque{% endif %}
      {% if section.settings.show_announcement %}has-announcement{% endif %}
      {% if section.settings.use_alt_logo_when_active %}alt-logo-when-active{% else %}main-logo-when-active{% endif %}
      {% if section.settings.desktop_navigation == "inline" %}{% if section.settings.show_locale_selector or section.settings.show_currency_selector %}has-localization{% endif %}{% endif %}
      "
      data-cc-animate
      data-opacity="{% if section.settings.nav_positioning == 'inline' and section.settings.nav_opacity contains 'opaque_on_scroll' %}opaque{% else %}{{ section.settings.nav_opacity }}{% endif %}"
      data-positioning="{{ section.settings.nav_positioning }}"
    >
      {{ announcement }}
      <div class="links site-control__inner" style="min-height: 42px;">
          <a class="menu" href="#page-menu" aria-controls="page-menu" data-modal-nav-toggle aria-label="{{ 'layout.header.menu' | t | escape }}">
            {% render 'icon-menu' %}
            <span class="text-link">{{ 'layout.header.menu' | t }}</span>
          </a>
  
          {% if section.settings.desktop_navigation == "inline" and shop.customer_accounts_enabled %}
              <a data-cc-animate-click href="{{ routes.account_url }}" class="cart nav-account mb-nav-account" style="left: 60px;right: unset;">
                {% render 'svg-account' %}
              </a>
          {% endif %}


        {{ logo_html }}

        {{ inline_link_html }}

        <div class="nav-right-side">
          {% if section.settings.desktop_navigation == "inline" %}
            {% if section.settings.show_locale_selector or section.settings.show_currency_selector %}
              <div class="localization">
                {% render 'localization', input_prefix: 'header' %}
              </div>
            {% endif %}
          {% endif %}

          

          <a class="cart nav-search"
             href="{{ routes.search_url }}"
             aria-label="{{ 'layout.header.search' | t | escape }}"
             data-modal-toggle="#search-modal">
            {% render 'svg-search' %}
            <span class="text-link">{{ 'layout.header.search' | t }}</span>
          </a>

          {% if section.settings.desktop_navigation == "inline" and shop.customer_accounts_enabled %}
            <a data-cc-animate-click href="{{ routes.account_url }}" class="cart nav-account">
              {% render 'svg-account' %}
            </a>
          {% endif %}
          
          
          
          
          <a data-cc-animate-click class="cart cart-icon--{{ section.settings.nav_cart_icon }}" href="{{ routes.cart_url }}" aria-label="{{ 'layout.navigation.cart' | t | escape }}">
            {% if section.settings.nav_cart_icon == "basket1" %}
              {% render 'svg-cart' %}
            {% elsif section.settings.nav_cart_icon == "basket2" %}
              {% render 'svg-cart2' %}
              {% elsif section.settings.nav_cart_icon == "basket3" %}
              {% render 'svg-cart3' %}
            {% endif %}
            <div style="display: none;">{{ cart.item_count }}</div>
            <span class="text-link">{{ 'layout.navigation.cart' | t }} {% if cart.item_count > 0 %}({{ cart.item_count }}){% endif %}</span>
          </a>

         {%- comment -%} 切换其他店铺 {%- endcomment -%}
            {%- comment -%} 显示切换其他国家店铺的图标 {%- endcomment -%}
            {% if settings.show_other_shops %}
              <ql-other-shop class="cart header__desktop__button" id="ql_councty_btn">
                <a class="navlink" href="javascript:;">
                  <span class="country--flag">
                    {% if settings.this_icon %}
                      {{ settings.this_icon | img_url: '20x20' | img_tag}}
                    {% endif %}
                  </span>
                  
                </a>


                <div class="choose_ql_site" style="display: none;">
                  <div id="ql-site-shadow" class="ql-scr-shadow" style="opacity: 1; visibility: visible;"> </div>
                  <div id="ql-site-modal"  class="ql-scr-modal"  style="opacity: 1; visibility: visible; transform: translate(-50%, 0%) scale(1);top:120px;overflow-x: hidden">
                    <a href="#" data-modal-close class="modal-close">&times;</a>
                    <div class="qlscr qlbasic" style="-webkit-box-align: center;align-items: center;">
                      <h2>CHOOSE YOUR LOCATION</h2>
                      <div class="ql-top-description">
                        <p>
                          <span style="color: #212121; font-family: verdana, geneva, sans-serif; font-size: 13.3333px;"></span>
                        </p>
                      </div>
                      <table class="qlscr-table">
                        <tr>
                          <td>
                            <div class="wSelect wSelect-theme-classic" style="width: 250px; height: 50px;">
                              <div class="wSelect-selected wSelect-option-icon">
                                <span class="country--flag show-flage">
                                  {% if settings.this_icon %}
                                    {{ settings.this_icon | img_url: '20x20' | img_tag}}
                                  {% endif %}
                                </span>
                                <span class="country--name show-name">{{settings.this_shop_name}}</span>
                              </div>
                              <div class="wSelect-options-holder" style="top: 48.7879px;">
                                <ul id="HeaderCountryList" class="wSelect-options">
                                  {% for i in (1..7) %}
                                    {% assign s_address = 'adress_' | append: i %}
                                    {% assign s_icon = 'icon_' | append: i %}
                                    {% assign s_title = 'shop_name_' | append: i %}
                                    {% if settings[s_address] != '' %}
                                      <li class="wSelect-option" -{{i}}>
                                        <div
                                          class="wSelect-option-value wSelect-option-icon"
                                          data-value="US"
                                          data-href="{{settings[s_address]}}"
                                          title="United States">
                                          <span class="country--flag">
                                            {% if settings[s_icon] %}
                                            {{ settings[s_icon] | img_url: '20x20' | img_tag}}
                                          {% endif %}
                                          </span>
                                          <span class="country--name">{{settings[s_title]}}</span>
                                          </div>
                                      </li>
                                    {% endif %}
                                  {% endfor %}
            
                                  
                                </ul>
                              </div>
                            </div>
                            
                          </td>
                        </tr>
                      </table>
                      <div class="ql-bottom-description" data-href="#">
                        <button class="ql-btn-set1" id="confirm_to_url" style="background-color:black;color:#fff;"> Confirm </button>
                      </div>
                    </div>
                  </div>
                </div>
              </ql-other-shop>
            {% endif %}
          </div>
      </div>
        
      <!-- search form -->
      <div class="mb-search">
        <div class="inner ql-mb-search" style="position: relative;">
          <div class="container growth-area" style="max-width: 100%;width: auto;margin: 0 15px;">
            <form action="{{ routes.search_url }}" method="get" class="search-form" role="search">
              {% comment %} Remove the following line to search everything, not just products {% endcomment %}
              <input type="hidden" name="type" value="product">
              <input type="hidden" name="options[prefix]" value="last" />
    
              <div class="inline-mini-form inline-mini-form--arrow" style="width: 100%;margin-top: {{section.settings.mb_search_margin_top}}px;margin-bottom: {{section.settings.mb_search_margin_bottom}}px;">
                <input type="text" name="q"
                       placeholder="{{ 'general.search.page_placeholder' | t }}"
                       class="focus-me"
                       value="{{ search.terms | escape }}"
                       aria-label="{{ 'general.search.input_label' | t | escape }}"
                       autocomplete="off"
                       style="padding-left: 35px;color: #999;" required />
                <button class="compact no-hover" type="submit" aria-label="{{ 'general.search.search_button' | t | escape }}" style="left: 25px;"
                >{% render 'svg-search' %}</button>
              </div>
            </form>

            
          </div>
        </div>
      </div>

    </div>
  
    <nav id="page-menu" class="theme-modal nav-uses-modal" style="padding-top: 0;">
      <div class="inner">
        <a href="#" class="no-js-only">{{ 'layout.header.close_mobile_nav_aria_label' | t }}</a>

        <div class="nav-container">
          <div class="nav-body container growth-area" data-root-nav="true">
            <div class="nav main-nav" role="navigation" aria-label="{{ 'layout.header.menu_aria_label' | t | escape }}">
              <ul>
                {% for link in linklists[section.settings.menu_linklist].links %}
                <li class="{% if link.active %}active{% endif %} {% if featured_links contains link.title %} featured-link{% endif %}">
                  <a href="{{ link.url }}" {% if link.links != blank %}aria-haspopup="true"{% else %}data-cc-animate-click{% endif %}>
                    <span>{{ link.title }}</span>
                  </a>

                  {% if link.links != blank %}
                  <ul>
                    {%- assign has_mega_drop_down = true -%}
                    {%- if link.links != blank -%}
                      {%- for child_link in link.links -%}
                        {%- if child_link.links == blank -%}
                          {%- assign has_mega_drop_down = false -%}
                        {%- endif -%}
                      {%- endfor -%}
                    {%- else -%}
                      {%- assign has_mega_drop_down = false -%}
                    {%- endif -%}

                    {% if has_mega_drop_down %}
                      {% for block in section.blocks %}
                        {% case block.type %}
                          {% when 'shop_by_inspiration' %}
                            {% assign menu_item =  block.settings.menu_item | downcase %}
                            {% assign link_title =  link.title | downcase %}
                            {% if menu_item == link_title %}
                              <li class="main-nav__mega-title shop-by-inspiration">
                                <a href="{{ block.settings.url }}" aria-haspopup="true">
                                  {{ block.settings.heading }}
                                </a>
                                <ul>
                                  {% for i in (1..6) %}
                                    {% assign text = 'text_' | append: i %}
                                    {% assign tUrl = 'url_' | append: i %}
                                    {% if block.settings[text] != '' %}
                                      <li>
                                        <a data-cc-animate-click href="{{ block.settings[tUrl] }}"><span>{{ block.settings[text] }}</span></a>
                                      </li>
                                    {% endif %}
                                    
                                  {% endfor %}
                                </ul>
                              </li>
                            {% endif %}
                            
                        {% endcase %}
                      {% endfor %}

                      {% comment %} Break out the mega menu with titles {% endcomment %}
                      {% for child_link in link.links %}
                        <li class="{% if child_link.active %}active{% endif %} main-nav__mega-title">
                          <a href="{{ child_link.url }}" {% if child_link.links != blank %}aria-haspopup="true"{% else %}data-cc-animate-click{% endif %}>
                            <span>{{ child_link.title }}</span>
                          </a>
                          <ul>
                            {% for child_child_link in child_link.links %}
                              <li class="{% if child_child_link.active %}active{% endif %} {% if featured_links contains child_child_link.title %} featured-link{% endif %}">
                                <a data-cc-animate-click href="{{ child_child_link.url }}">
                                  <span>{{ child_child_link.title }}</span>
                                </a>
                              </li>
                            {% endfor %}
                          </ul>
                        </li>
                      {% endfor %}

                      {% for block in section.blocks %}
                        {% case block.type %}
                          {% when 'shop_by_color' %}
                            {% assign menu_item =  block.settings.menu_item | downcase %}
                            {% assign link_title =  link.title | downcase %}
                            {% if menu_item == link_title %}
                              <li class="main-nav__mega-title">
                                <a href="{{ block.settings.url }}" aria-haspopup="true">
                                  {{ block.settings.heading }}
                                </a>
                                <ul class="shop-by-color">
                                  {% for i in (1..6) %}
                                    {% assign color = 'color_' | append: i %}
                                    {% assign text = 'text_' | append: i %}
                                    {% assign tUrl = 'url_' | append: i %}
                                    {% if block.settings[text] != '' %}
                                      <li>
                                        <a data-cc-animate-click href="{{ block.settings[tUrl] }}"><span class="s_color" style="background-color: {{ block.settings[color] }};"></span><span>{{ block.settings[text] }}</span></a>
                                      </li>
                                    {% endif %}
                                  {% endfor %}
                                </ul>
                              </li>
                            {% endif %}

                          {% comment %}  
                          {% when 'shop_by_inspiration' %}
                            {% assign menu_item =  block.settings.menu_item | downcase %}
                            {% assign link_title =  link.title | downcase %}
                            {% if menu_item == link_title %}
                              <li class="main-nav__mega-title shop-by-inspiration">
                                <a href="{{ block.settings.url }}" aria-haspopup="true">
                                  {{ block.settings.heading }}
                                </a>
                                <ul>
                                  {% for i in (1..6) %}
                                    {% assign text = 'text_' | append: i %}
                                    {% assign tUrl = 'url_' | append: i %}
                                    {% if block.settings[text] != '' %}
                                      <li>
                                        <a data-cc-animate-click href="{{ block.settings[tUrl] }}"><span>{{ block.settings[text] }}</span></a>
                                      </li>
                                    {% endif %}
                                    
                                  {% endfor %}
                                </ul>
                              </li>
                            {% endif %}
                            {% endcomment %}
                        {% endcase %}
                      {% endfor %}

                    {% else %}
                      {% comment %} Render an ordinary child nav {% endcomment %}
                      {% for child_link in link.links %}
                      <li class="{% if child_link.active %}active{% endif %} {% if featured_links contains child_link.title %} featured-link{% endif %}">
                        <a href="{{ child_link.url }}" {% if child_link.links != blank %}aria-haspopup="true"{% else %}data-cc-animate-click{% endif %}>
                          <span>{{ child_link.title }}</span>
                        </a>

                        {% if child_link.links != blank %}
                        <ul>
                          {% for child_child_link in child_link.links %}
                          <li class="{% if child_child_link.active %}active{% endif %} {% if featured_links contains child_child_link.title %} featured-link{% endif %}">
                            <a data-cc-animate-click href="{{ child_child_link.url }}">
                              <span>{{ child_child_link.title }}</span>
                            </a>
                          </li>
                          {% endfor %}
                        </ul>
                        {% endif %}
                      </li>
                      {% endfor %}
                    {% endif %}
                  </ul>
                  {% endif %}
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>

          <div class="nav-footer-links">
            {% comment %}
            <div class="nav-footer-links__link">
              <a class="search" href="{{ routes.search_url }}" data-modal-toggle="#search-modal">
                {{ 'layout.header.search' | t }} <span class="arr arr--small">{% render 'svg-chevron-right' %}</span>
              </a>
            </div>
            

            {% if shop.customer_accounts_enabled %}
              <div class="nav-footer-links__link" style="border-top:0px;border-bottom:2px solid #aeaeae;">
                <a data-cc-animate-click href="{{ routes.account_url }}">{{ 'layout.customer.account' | t }}</a>
              </div>
            {% endif %}
            {% endcomment %}

            {% comment %}
              {% render 'social-icons', icon_setting: settings.social_custom_icon, icon_size: 'x40' %}
            {% endcomment %}

            {% if section.settings.show_locale_selector or section.settings.show_currency_selector %}
              <div class="localization">
                {% render 'localization', input_prefix: 'header' %}
              </div>
            {% endif %}
          </div>

          <div class="nav-ctas">
            {% for block in section.blocks %}
              {% case block.type %}
                {% when 'image' %}
                {% assign nav_item = "_root" %}
                {% if block.settings.menu_item != blank %}
                  {% assign nav_item = block.settings.menu_item %}
                {% endif %}

                <div class="nav-ctas__container" data-for-nav-item="{{ nav_item | downcase }}" {{ block.shopify_attributes }}>
                  {% render 'nav-call-to-action', cta: block, render_li: false %}
                </div>
                    
              {% endcase %}
            {% endfor %}
          </div>
        </div>
      </div>
    </nav>
  </div>

{% endif %}


{% schema %}
  {
    "name": "Header",
    "settings": [
    {
     "type": "header",
     "content": "Menu"
    },
      {
        "type": "link_list",
        "id": "menu_linklist",
        "label": "Menu",
        "default": "main-menu",
        "info": "To create a mega menu, ensure every link within your menu has child links. [Learn more](https://cleancanvas.co.uk/support/general/mega-menus)"
      },
      {
       "type": "header",
       "content": "Navigation"
      },
      {
       "type": "range",
       "id": "nav_padding_top",
       "min": 0,
       "max": 50,
       "step": 1,
       "label": "Padding top (PC)",
       "default": 5,
       "unit": "px"
      },
      {
       "type": "range",
       "id": "nav_padding_bottom",
       "min": 0,
       "max": 50,
       "step": 1,
       "label": "Padding Bottom (PC)",
       "default": 5,
       "unit": "px"
      },
      {
        "type": "range",
        "id": "mb_nav_padding_top",
        "min": 0,
        "max": 50,
        "step": 1,
        "label": "Padding top (MB)",
        "default": 5,
        "unit": "px"
       },
       {
        "type": "range",
        "id": "mb_nav_padding_bottom",
        "min": 0,
        "max": 50,
        "step": 1,
        "label": "Padding Bottom (MB)",
        "default": 5,
        "unit": "px"
       },
      {
       "type": "range",
       "id": "pc_nav_font_weight",
       "label": "Font weight",
       "min": 200,
       "max": 700,
       "step": 100,
       "default": 500
      },
      {
        "type": "range",
        "id": "nav_padding_left_and_right",
        "min": 0,
        "max": 100,
        "step": 1,
        "label": "pc端，二级标签之间的间隔(宽度为内容的最大)",
        "default": 10,
        "unit": "px"
       },
      {
        "type": "text",
        "id": "nav_featured_link",
        "label": "Featured link",
        "info": "Enter the title of a link to highlight it in a different color",
        "default": "Sale"
      },
      {
        "type": "select",
        "id": "desktop_navigation",
        "label": "Desktop navigation",
        "options": [
          {
            "value": "burger",
            "label": "Show burger menu"
          },
          {
            "value": "inline",
            "label": "Show links"
          }
        ],
        "default": "inline"
      },
      {
        "type": "select",
        "id": "nav_opacity",
        "label": "Navigation background",
        "options": [
          {
            "value": "transparent",
            "label": "Transparent"
          },
          {
            "value": "opaque_on_scroll",
            "label": "Opaque on scroll"
          },
          {
            "value": "opaque_on_scroll_alt",
            "label": "Opaque on scroll showing contrast logo"
          },
          {
            "value": "opaque",
            "label": "Opaque"
          }
        ],
        "default": "transparent"
      },
      {
        "type": "select",
        "id": "nav_positioning",
        "label": "Scroll behavior",
        "options": [
          {
            "value": "sticky",
            "label": "Sticks on scroll"
          },
          {
            "value": "inline",
            "label": "Scrolls with the page"
          },
          {
            "value": "peek",
            "label": "Hides on scroll down"
          }
        ],
        "default": "sticky"
      },
      {
        "type": "header",
        "content": "移动端搜索框"
      },
      {
        "type": "range",
        "id": "mb_search_margin_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "label": "Margin top (MB)",
        "default": 5,
        "unit": "px"
       },
       {
        "type": "range",
        "id": "mb_search_margin_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "label": "Margin Bottom (MB)",
        "default": 5,
        "unit": "px"
       },
      {
        "type": "header",
        "content": "Logo"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Main logo",
        "info": "520 x 200px recommended"
      },
      {
        "type": "image_picker",
        "id": "alt_logo",
        "label": "Contrast logo",
        "info": "Your main logo but in a different color to show over image-heavy sections. This should be the same size as your main logo."
      },
      {
        "type": "range",
        "id": "desktop_logo_width",
        "min": 50,
        "max": 250,
        "step": 5,
        "label": "Desktop logo width",
        "default": 200,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "mobile_logo_width",
        "min": 50,
        "max": 150,
        "step": 5,
        "label": "Mobile logo width",
        "default": 140,
        "unit": "px"
      },
      {
        "type": "checkbox",
        "id": "use_alt_logo_when_active",
        "label": "Show contrast logo on burger menu popup/hovering the navigation bar",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "logo_h1",
        "label": "Make the logo an <h1> on the homepage",
        "info": "If a section on the homepage contains a primary page heading, this should be unticked [Learn more](https://cleancanvas.co.uk/support/showcase/seo#inner-anchor-0)",
        "default": true
      },
      {
        "type": "header",
        "content": "Announcement"
      },
      {
        "type": "checkbox",
        "id": "show_announcement",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "announcement_home_only",
        "label": "Show on home page only",
        "default": false
      },
      {
        "type": "text",
        "id": "announcement_text",
        "label": "Text"
      },      
      {
        "type": "range",
        "id": "announcement_text_size",
        "min": 13,
        "max": 20,
        "step": 1,
        "unit": "px",
        "label": "Text size",
        "default": 15
      },
      {
        "type": "range",
        "id": "announcement_padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding top (PC)",
        "default": 10
      },
      {
        "type": "range",
        "id": "announcement_padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding bottom (PC)",
        "default": 10
      },
      {
        "type": "range",
        "id": "mb_announcement_padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding top (MB)",
        "default": 10
      },
      {
        "type": "range",
        "id": "mb_announcement_padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding bottom (MB)",
        "default": 10
      },
      {
        "type": "url",
        "id": "announcement_link",
        "label": "Link"
      },
      {
        "type": "header",
        "content": "Cart"
      },
      {
        "type": "select",
        "id": "nav_cart_icon",
        "label": "Icon",
        "options": [
          {
            "value": "basket1",
            "label": "Basket 1"
          },
          {
            "value": "basket2",
            "label": "Basket 2"
          },
          {
            "value": "basket3",
            "label": "Basket 3"
          }
        ],
        "default": "basket3"
      },
      {
        "type": "header",
        "content": "Language Selector",
        "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
      },
      {
        "type": "checkbox",
        "id": "show_locale_selector",
        "label": "Show language selector",
        "default": true
      },
      {
        "type": "header",
        "content": "Currency Selector",
        "info": "To add a currency, go to your [payment settings.](/admin/settings/payments) Note, standard currency conversion only works with Shopify Payments [Learn more](https://cleancanvas.co.uk/support/faqs#Currency)."
      },
      {
        "type": "checkbox",
        "id": "show_currency_selector",
        "label": "Show currency selector",
        "default": true
      },
      {
        "type": "header",
        "content": "Recommend Color"
      },
      {
        "type": "textarea",
        "id": "ql_show_remomend_color",
        "label": "推荐颜色"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Menu promotion",
        "settings": [
          {
            "type": "text",
            "id": "menu_item",
            "label": "Menu item",
            "info": "Enter a dropdown menu item title to display the menu promotion on, e.g. 'Shop'.  If you leave this empty, the menu promotion will show on the first level of the burger menu popup. [Learn more](https://cleancanvas.co.uk/support/showcase/header-and-footer#h_01EPEP6TGX1X1A8Y5TVKFKFDG3)"
          },
          {
            "type": "header",
            "content": "Promotion 1"
          },
          {
            "type": "image_picker",
            "id": "image1",
            "label": "Image",
            "info": "800 x 600px recommended"
          },
          {
            "type": "select",
            "id": "desktop_image_position1",
            "label": "Image alignment",
            "info": "Used to keep the subject of your image in view",
            "default": "center center",
            "options": [
              {
                "value": "top left",
                "label": "Top left"
              },
              {
                "value": "top center",
                "label": "Top center"
              },
              {
                "value": "top right",
                "label": "Top right"
              },
              {
                "value": "center left",
                "label": "Middle left"
              },
              {
                "value": "center center",
                "label": "Middle center"
              },
              {
                "value": "center right",
                "label": "Middle right"
              },
              {
                "value": "bottom left",
                "label": "Bottom left"
              },
              {
                "value": "bottom center",
                "label": "Bottom center"
              },
              {
                "value": "bottom right",
                "label": "Bottom right"
              }
            ]
          },
          {
            "type": "text",
            "id": "subheading1",
            "label": "Subheading",
            "default": "Subheading"
          },
          {
            "type": "textarea",
            "id": "title1",
            "label": "Heading",
            "default": "Tell your story"
          },
          {
            "type": "richtext",
            "id": "text1",
            "label": "Text",
            "default": "<p>Pair text with an image to tell a story</p>"
          },
          {
            "type": "text",
            "id": "button_label1",
            "label": "Button"
          },
          {
            "type": "url",
            "id": "cta_link1",
            "label": "Link"
          },
          {
            "type": "header",
            "content": "Promotion 2"
          },
          {
            "type": "image_picker",
            "id": "image2",
            "label": "Image",
            "info": "800 x 600px recommended"
          },
          {
            "type": "select",
            "id": "desktop_image_position2",
            "label": "Image alignment",
            "info": "Used to keep the subject of your image in view",
            "default": "center center",
            "options": [
              {
                "value": "top left",
                "label": "Top left"
              },
              {
                "value": "top center",
                "label": "Top center"
              },
              {
                "value": "top right",
                "label": "Top right"
              },
              {
                "value": "center left",
                "label": "Middle left"
              },
              {
                "value": "center center",
                "label": "Middle center"
              },
              {
                "value": "center right",
                "label": "Middle right"
              },
              {
                "value": "bottom left",
                "label": "Bottom left"
              },
              {
                "value": "bottom center",
                "label": "Bottom center"
              },
              {
                "value": "bottom right",
                "label": "Bottom right"
              }
            ]
          },
          {
            "type": "text",
            "id": "subheading2",
            "label": "Subheading",
            "default": "Subheading"
          },
          {
            "type": "textarea",
            "id": "title2",
            "label": "Heading",
            "default": "Tell your story"
          },
          {
            "type": "richtext",
            "id": "text2",
            "label": "Text",
            "default": "<p>Pair text with an image to tell a story</p>"
          },
          {
            "type": "text",
            "id": "button_label2",
            "label": "Button"
          },
          {
            "type": "url",
            "id": "cta_link2",
            "label": "Link"
          }
        ]
      },
      {
       "type": "shop_by_color",
       "name": "Shop by color",
       "limit": 1,
       "settings": [
        {
         "type": "text",
         "id": "menu_item",
         "label": "Menu item",
         "info": "Enter a dropdown menu item title to display the menu promotion on, e.g. 'Shop'.  If you leave this empty, the menu promotion will show on the first level of the burger menu popup. [Learn more](https://cleancanvas.co.uk/support/showcase/header-and-footer#h_01EPEP6TGX1X1A8Y5TVKFKFDG3)"
        },
        {
         "type": "text",
         "label": "Heading",
          "id": "heading"
        },
        {
         "type": "url",
         "id": "url",
         "label": "Link"
        },
        {
         "type": "header",
         "content": "二级标签"
        },
        {
         "type": "color",
         "id": "color_1",
         "label": "Color 1"
        },
        {
         "type": "text",
         "id": "text_1",
         "label": "Text 1"
        },
        {
         "type": "url",
         "id": "url_1",
         "label": "Url 1"
        },
        {
          "type": "header",
          "content": "-----------------------"
          },
        {
          "type": "color",
          "id": "color_2",
          "label": "Color 2"
         },
         {
          "type": "text",
          "id": "text_2",
          "label": "Text 2"
         },
         {
          "type": "url",
          "id": "url_2",
          "label": "Url 2"
         },
         {
          "type": "header",
          "content": "-----------------------"
          },
         {
          "type": "color",
          "id": "color_3",
          "label": "Color 3"
         },
         {
          "type": "text",
          "id": "text_3",
          "label": "Text 3"
         },
         {
          "type": "url",
          "id": "url_3",
          "label": "Url 3"
         },
         {
          "type": "header",
          "content": "-----------------------"
          },
         {
          "type": "color",
          "id": "color_4",
          "label": "Color 4"
         },
         {
          "type": "text",
          "id": "text_4",
          "label": "Text 4"
         },
         {
          "type": "url",
          "id": "url_4",
          "label": "Url 4"
         },
         {
          "type": "header",
          "content": "-----------------------"
          },
         {
          "type": "color",
          "id": "color_5",
          "label": "Color 5"
         },
         {
          "type": "text",
          "id": "text_5",
          "label": "Text 5"
         },
         {
          "type": "url",
          "id": "url_5",
          "label": "Url 5"
         },
         {
         "type": "header",
         "content": "-----------------------"
         },
         {
          "type": "color",
          "id": "color_6",
          "label": "Color 6"
         },
         {
          "type": "text",
          "id": "text_6",
          "label": "Text 6"
         },
         {
          "type": "url",
          "id": "url_6",
          "label": "Url 6"
         }
       ]
      },
      {
       "type": "shop_by_inspiration",
       "name": "Shop by inspiration",
       "limit": 1,
       "settings": [
       {
        "type": "text",
        "id": "menu_item",
        "label": "Menu item",
        "info": "Enter a dropdown menu item title to display the menu promotion on, e.g. 'Shop'.  If you leave this empty, the menu promotion will show on the first level of the burger menu popup. [Learn more](https://cleancanvas.co.uk/support/showcase/header-and-footer#h_01EPEP6TGX1X1A8Y5TVKFKFDG3)"
       },
       {
        "type": "text",
        "label": "Heading",
         "id": "heading"
       },
       {
        "type": "url",
        "id": "url",
        "label": "Link"
       },
       {
        "type": "header",
        "content": "二级标签"
       },
       {
        "type": "text",
        "id": "text_1",
        "label": "Text 1"
       },
       {
        "type": "url",
        "id": "url_1",
        "label": "Url 1"
       },
       {
         "type": "header",
         "content": "-----------------------"
         },
        {
         "type": "text",
         "id": "text_2",
         "label": "Text 2"
        },
        {
         "type": "url",
         "id": "url_2",
         "label": "Url 2"
        },
        {
         "type": "header",
         "content": "-----------------------"
         },
        {
         "type": "text",
         "id": "text_3",
         "label": "Text 3"
        },
        {
         "type": "url",
         "id": "url_3",
         "label": "Url 3"
        },
        {
         "type": "header",
         "content": "-----------------------"
         },
        {
         "type": "text",
         "id": "text_4",
         "label": "Text 4"
        },
        {
         "type": "url",
         "id": "url_4",
         "label": "Url 4"
        },
        {
         "type": "header",
         "content": "-----------------------"
         },
        {
         "type": "text",
         "id": "text_5",
         "label": "Text 5"
        },
        {
         "type": "url",
         "id": "url_5",
         "label": "Url 5"
        },
        {
        "type": "header",
        "content": "-----------------------"
        },
        {
         "type": "text",
         "id": "text_6",
         "label": "Text 6"
        },
        {
         "type": "url",
         "id": "url_6",
         "label": "Url 6"
        }
       ]
      }
    ]
  }
{% endschema %}
